<div class="section-hero">
	<%#= image_tag("hero-banner.jpg", class: "img-responsive")%>
	<img class="img-responsive" src="http://fakeimg.pl/1140x480/333333/333333">
</div>
<div class="section">
	<div class="row">
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-6 mgb">
					<img class="img-responsive" src="http://fakeimg.pl/360x250/333333/333333">
				</div>
				<div class="col-sm-6 mgb">
					<img class="img-responsive" src="http://fakeimg.pl/360x250/333333/333333">
				</div>
				<div class="col-sm-12 mgb">
					<img class="img-responsive" src="http://fakeimg.pl/750x250/333333/333333">
				</div>
			</div>
		</div>
		<div class="col-sm-4 mgb">
			<img class="img-responsive" src="http://fakeimg.pl/350x520/333333/333333">
		</div>
	</div>
</div>
<div class="section">
	<h3 class="product-list-title">
		Best Sellers
	</h3>
</div>