//
// Function
// --------------------------------------------------

// power function

@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: $value / $number;
		}
	}
	@return $value;
}

// Unitless number function
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

//
// Variables
// --------------------------------------------------

$scale: 1.125;

$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;
$base-line-grid: 8px;
$base-line-height: ceil($base-line-grid * 3);

// Colors

$text-color: #454545;
$headings-color: #353a3e;

$link-color: #1990c6;
$link-hover-color: #1579a6;

$border-color: #e1e1e1;

// Background color

$body-bg: #fff;

// Typography

$font-size-h1: ceil($base-font-size * pow($scale, 5));
$font-size-h2: ceil($base-font-size * pow($scale, 4));
$font-size-h3: ceil($base-font-size * pow($scale, 3));
$font-size-h4: ceil($base-font-size * pow($scale, 2));
$font-size-h5: ceil($base-font-size * $scale);

$line-height-computed: $base-line-height;

// Navbars
$navbar-height: 63px;
$navbar-default-bg: #fff;
$navbar-margin-bottom: 0;
$navbar-default-border: $border-color;

//
// Mixin
// --------------------------------------------------

@mixin rem($key, $value){
	#{$key}: strip-unit($value) + px;
	#{$key}: strip-unit($value) / 16 + rem;
}

//
// Import Bootstrap
// --------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/navs";
@import "bootstrap/navbar";

// Utility classes
@import "bootstrap/utilities";

//
// 1. Scaffolding
// --------------------------------------------------

html,body {
	margin: 0;
	width: 100%;
	height: 100%;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
}


//
// 2. Typography
// --------------------------------------------------

// Headings

// h1, h2, h3, h4, h5, h6{
// 	font-family: inherit;
// 	line-height: inherit;
// 	font-weight: 400;
// 	color: $headings-color;
// 	margin: 0;
// }

// h1 {
// 	@include rem(font-size, $font-size-h1);
// 	@include rem(line-height, $base-line-height * 2);
// }

// h2 {
// 	@include rem(font-size, $font-size-h2);
// 	@include rem(line-height, $base-line-height * 2);
// }

// h3 {
// 	@include rem(font-size, $font-size-h3);
// 	@include rem(line-height, $base-line-height * 1.3333333333);
// }

// h4 {
// 	@include rem(font-size, $font-size-h4);
// 	@include rem(line-height, $base-line-height * 1.3333333333);
// }

// h5 {
// 	@include rem(font-size, $font-size-h5);
// 	font-weight: 600;
// }

// p {
// 	margin-top: 0;
// 	@include rem(margin-bottom, $base-line-height * 2);
// }

.list-unstyled{
	padding-left: 0;
	list-style: none;
}

.baseline-grid {
	background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
	background-position: left -1px;
	background-repeat: repeat;
	background-size: $base-line-grid $base-line-grid;
}

//
// Sidebar
// --------------------------------------------------

$sidebar-bg: #fafafa;

#sidebar{
	position: relative;
	height: 100vh;
	padding-left: 0;
	padding-right: 0;

	&:after{
		content: "";
		display: block;
		width: 400%;
		position: absolute;
		top: 0;
		left: -300%;
		bottom: 0;
		background: $sidebar-bg;
		z-index: -1;
		border-right: 1px solid $border-color;
	}

	.nav,
	.mbsc-lv-airtickets-default{
		position: relative;
		height: 100%;
		padding-right: 20px;
		overflow-y: auto;
	}

	.nav > li > a{
		
		&:after{
			content: "\f107";
			font-family: 'icons_mobiscroll';
			position: absolute;
			top: 50%;
			right: 0;
			width: 2em;
			height: 2em;
			line-height: 2em;
			margin-top: -1em;
			text-align: center;
		}
	}

	label{
		font-weight: normal;
	}

	.checkbox-list{
		margin: -1.25em;
		padding-left: 1.25em;
	}
}

#sidebar{
	.mbsc-lv-airtickets-default .mbsc-lv-item,
	.mbsc-airtickets-default.mbsc-form{
		background: $sidebar-bg;
	}
}

//
// Main
// --------------------------------------------------

#main{
	padding-left: 6%;
	padding-right: 0;
}


//
// 4. Forms
// --------------------------------------------------

.mbsc-airtickets-default{
	.mbsc-checkbox-box{
		background: 0 0;
		right: 1.25em;
		border: .125em solid #6d6d6d;
		border-radius: .1875em;
		@include transition(background-color .1s ease-out);

		&:after{
			top: .125em;
			left: .0625em;
		}
	}

	input:checked + .mbsc-checkbox-box{
		background: #00b0f0;
		border-color: #00b0f0;
	}
}

//
// 5. Tabs
// --------------------------------------------------

.md-tab-h{
	display: none;
}

.md-tab-sel{
	display: block;
}

.mbsc-airtickets-default.mbsc-ms-b.mbsc-ms-top{
	border-color: $border-color;

	+ .mbsc-padding{
		margin-top: 48px;
	}
}