//
// Variables
// --------------------------------------------------
$theme: OpenSans;

$color-font-body: red;

// Colors

$text-color: #454545;
$headings-color: #353a3e;

$link-color: #1990c6;
$link-hover-color: #1579a6;

$border-color: #e1e1e1;

// Background color

$body-bg: #fff;

// Typography


//
// Mixin
// --------------------------------------------------

@mixin rem($key, $value){
	#{$key}: strip-unit($value) + px;
	#{$key}: strip-unit($value) / 16 + rem;
}

//
// Imports
// --------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

@import "gutenberg/gutenberg";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Core CSS
// @import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/forms";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/navs";
@import "bootstrap/navbar";

// Utility classes
@import "bootstrap/utilities";

//
// 1. Scaffolding
// --------------------------------------------------



//
// 2. Typography
// --------------------------------------------------


//
// Sidebar
// --------------------------------------------------

$sidebar-bg: #fafafa;

#sidebar{
	position: relative;
	height: 100vh;
	padding-left: 0;
	padding-right: 0;

	&:after{
		content: "";
		display: block;
		width: 400%;
		position: absolute;
		top: 0;
		left: -300%;
		bottom: 0;
		background: $sidebar-bg;
		z-index: -1;
		border-right: 1px solid $border-color;
	}

	.nav,
	.mbsc-lv-airtickets-default{
		position: relative;
		height: 100%;
		padding-right: 20px;
		overflow-y: auto;
	}

	.nav > li > a{
		
		&:after{
			content: "\f107";
			font-family: 'icons_mobiscroll';
			position: absolute;
			top: 50%;
			right: 0;
			width: 2em;
			height: 2em;
			line-height: 2em;
			margin-top: -1em;
			text-align: center;
		}
	}

	label{
		font-weight: normal;
	}

	.checkbox-list{
		margin: -1.25em;
		padding-left: 1.25em;
	}
}

#sidebar{
	.mbsc-lv-airtickets-default .mbsc-lv-item,
	.mbsc-airtickets-default.mbsc-form{
		background: $sidebar-bg;
	}
}

//
// Main
// --------------------------------------------------

#main{
	padding-left: 6%;
	padding-right: 0;
}


//
// 4. Forms
// --------------------------------------------------

.mbsc-airtickets-default{
	.mbsc-checkbox-box{
		background: 0 0;
		right: 1.25em;
		border: .125em solid #6d6d6d;
		border-radius: .1875em;
		@include transition(background-color .1s ease-out);

		&:after{
			top: .125em;
			left: .0625em;
		}
	}

	input:checked + .mbsc-checkbox-box{
		background: #00b0f0;
		border-color: #00b0f0;
	}
}

//
// 5. Tabs
// --------------------------------------------------

.md-tab-h{
	display: none;
}

.md-tab-sel{
	display: block;
}

.mbsc-airtickets-default.mbsc-ms-b.mbsc-ms-top{
	border-color: $border-color;

	+ .mbsc-padding{
		margin-top: 48px;
	}
}