@import "gutenberg/gutenberg";

//
// Variables
// --------------------------------------------------


// Colors

$border-color: #e1e1e1;

// Typography
$font-family-base: $font-body;
$line-height-base: $line-height;

// Navs
$nav-link-padding: #{ .5 * $leading + 'px'} #{ 1 * $leading + 'px'};

// Navbar
$navbar-height: #{ 3 * $leading + 'px'};
$navbar-margin-bottom: 0;
$navbar-padding-vertical: #{ 1 * $leading + 'px'};


//
// Imports
// --------------------------------------------------


// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/grid";
@import "bootstrap/forms";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/navs";
@import "bootstrap/navbar";

// Utility classes
@import "bootstrap/utilities";

//
// 1. Scaffolding
// --------------------------------------------------

// Reset the box-sizing

* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}

// Body reset

body {
	font-family: $font-family-base;
	line-height: $line-height-base;
}

// Links

a{
	text-decoration: none;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

//
// 2. Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6{
	font-weight: 500;
}

// Lists
ul,
ol {
	margin-top: 0;
	@include margin-bottom(1);
	
	ul,
	ol {
		margin-bottom: 0;
	}
}

.list-unstyled{
	padding-left: 0;
	list-style: none;
}


//
// Navbars
// --------------------------------------------------

.navbar{
	border: none;
}


//
// Sidebar
// --------------------------------------------------

$sidebar-bg: #fafafa;

#sidebar{
	position: relative;
	height: 100vh;
	padding-right: 0;

	&:after{
		content: "";
		display: block;
		width: 400%;
		position: absolute;
		top: 0;
		left: -300%;
		bottom: 0;
		background: rgba($sidebar-bg, .6);
		z-index: -1;
		border-right: 1px solid $border-color;
	}

	.nav,
	.mbsc-lv-airtickets-default{
		position: relative;
		height: 100%;
		padding-right: 20px;
		overflow-y: auto;
	}

	.nav > li > a{

		padding-left: 0;
		padding-right: 0;
		
		&:after{
			content: "\f107";
			font-family: 'icons_mobiscroll';
			position: absolute;
			top: 50%;
			right: 0;
			width: 2em;
			height: 2em;
			line-height: 2em;
			margin-top: -1em;
			text-align: center;
		}
	}

	label{
		font-weight: normal;
	}

	.checkbox-list{
		margin: -1.25em;
		padding-left: 1.25em;
	}
}

#sidebar{
	.mbsc-lv-airtickets-default .mbsc-lv-item,
	.mbsc-airtickets-default.mbsc-form{
		background: $sidebar-bg;
	}
}

//
// Main
// --------------------------------------------------

#main{
	padding-left: 6%;
	padding-right: 0;
}


//
// 4. Forms
// --------------------------------------------------

.mbsc-airtickets-default{
	.mbsc-checkbox-box{
		background: 0 0;
		right: 1.25em;
		border: .125em solid #6d6d6d;
		border-radius: .1875em;
		@include transition(background-color .1s ease-out);

		&:after{
			top: .125em;
			left: .0625em;
		}
	}

	input:checked + .mbsc-checkbox-box{
		background: #00b0f0;
		border-color: #00b0f0;
	}
}

//
// 5. Tabs
// --------------------------------------------------

.md-tab-h{
	display: none;
}

.md-tab-sel{
	display: block;
}

.mbsc-airtickets-default.mbsc-ms-b.mbsc-ms-top{
	border-color: $border-color;

	+ .mbsc-padding{
		margin-top: 48px;
	}
}